@model BookRental.Models.Book
@{
    ViewBag.Title = "Confirmation";
}

<div class="container" style="margin-top: 100px;">
    <div class="shadow" style="background-color: white;padding:30px;max-width:1000px;overflow:auto;">
        <div style="float: right;"><img src="@Url.Content(Model.imgurl)" width="190" height="250"></div>
        <div class="text-success"><h2>Book Purchased</h2></div>
        <div><h3>@Model.bookName</h3></div>
        <div class="text-secondary" style="font-size: 13px;">@Model.author | @Model.yearofPublication | @Model.publisher</div>
        <div style="margin-top: 10px;"><b>Subcription period:</b> @TempData["subscriptionPeriod"] months</div>
        <div style="margin-top: 10px;"><b>Amount Paid:</b> Rs. @TempData["amountpaid"]</div>
    </div>
</div>

